/*
Template Name: Adminto Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Pages
*/
/* =============
  == Pages List==

   - Calendar
   - Form Elements
   - Notification
   - Range slider
   - Sweet Alert
   - Charts
   - Timelines
   - Count down
   - Gallery
   - Maintenance
   - Maps
   - Tree view page
   - Tour page
   - Pricing
   - Taskboard & Task detail
   - Projects
   - Account pages
   - Inbox
   - Profile

============= */
/* =============
   Calendar
============= */
/* line 35, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.calendar {
  float: left;
  margin-bottom: 0px;
}

/* line 39, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-view {
  margin-top: 30px;
}

/* line 42, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.none-border .modal-footer {
  border-top: none;
}

/* line 45, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-toolbar {
  margin-bottom: 5px;
  margin-top: 15px;
}

/* line 49, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

/* line 55, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-day {
  background: transparent;
}

/* line 58, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

/* line 65, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-widget-header {
  border: 1px solid #ebeff2;
}

/* line 68, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-widget-content {
  border: 1px solid #ebeff2;
}

/* line 71, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc th.fc-widget-header {
  background: rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0px;
  text-transform: uppercase;
}

/* line 78, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.1);
}

/* line 88, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-button {
  background: #ffffff;
  border: 1px solid #ebeff2;
  color: #555555;
  text-transform: capitalize;
}

/* line 94, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-text-arrow {
  font-family: inherit;
  font-size: 16px;
}

/* line 98, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-state-hover {
  background: #F5F5F5;
}

/* line 101, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-state-highlight {
  background: #f0f0f0;
}

/* line 104, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-cell-overlay {
  background: #f0f0f0;
}

/* line 107, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-unthemed .fc-today {
  background: transparent;
}

/* line 110, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

/* line 119, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

/* line 125, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}

/* line 128, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

/* =============
   Form Advanced
============= */
/* line 134, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.error {
  color: #ff5b5b;
  font-size: 12px;
  font-weight: 500;
}

/* X-Editable */
/* line 140, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.editable-click,
a.editable-click,
a.editable-click:hover {
  border: none;
  color: #71b6f9;
}

/* line 146, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-tagsinput {
  box-shadow: none;
  padding: 3px 7px 6px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: #ffffff;
}

/* line 153, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-tagsinput .label-info {
  background-color: #71b6f9 !important;
  display: inline-block;
  padding: 5px;
}

/* Multiple */
/* line 159, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container {
  background: transparent url("/assets/multiple-arrow-ecd9f157877b6cdfe1615f6c0e98697973f3257b074a45f28d164b826f7d4070.png") no-repeat 50% 50%;
}

/* line 162, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-list {
  box-shadow: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

/* line 166, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-list.ms-focus {
  box-shadow: none;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

/* line 170, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selectable li.ms-elem-selectable {
  border: none;
  padding: 5px 10px;
}

/* line 174, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selection li.ms-elem-selection {
  border: none;
  padding: 5px 10px;
}

/* line 178, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-selectable {
  box-shadow: none;
  outline: none !important;
}

/* line 182, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-list.ms-focus {
  box-shadow: none;
}

/* line 185, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selectable li.ms-hover {
  background-color: #188ae2;
  color: #ffffff !important;
}

/* line 189, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selection li.ms-hover {
  background-color: #188ae2;
  color: #ffffff !important;
}

/* line 193, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selectable,
.ms-container .ms-selection {
  background-color: transparent;
}

/* line 197, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  color: #98a6ad;
}

/* Select2 */
/* line 202, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container .select2-choice {
  background-image: none !important;
  border: none !important;
  height: auto  !important;
  padding: 0 0 0 15px !important;
  line-height: 32px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  color: #ffffff;
}

/* line 212, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container .select2-choice .select2-arrow {
  background-image: none !important;
  background: transparent;
  border: none;
  width: 14px;
  right: 10px;
  top: 2px;
}

/* line 220, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container .select2-container-multi.form-control {
  height: auto;
}

/* line 223, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-results .select2-highlighted {
  color: #ffffff;
  background-color: #71b6f9;
}

/* line 227, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.form-control.select2-container {
  height: 36px !important;
}

/* line 230, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-drop-active {
  border: 1px solid #e3e3e3 !important;
  padding-top: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

/* line 237, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-search input {
  border: 1px solid #e3e3e3;
}

/* line 240, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container-multi {
  width: 100%;
}

/* line 243, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container-multi .select2-choices {
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: none !important;
  background: transparent !important;
  background-image: none  !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  background-clip: padding-box !important;
  min-height: 38px;
}

/* line 254, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 6px 8px 7px 19px;
  margin: 5px 0 3px 5px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 263, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 7px 7px 7px 10px;
  font-family: inherit;
}

/* line 267, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.select2-container-multi .select2-choices .select2-search-choice-close {
  top: 6px;
}

/* Bootstrap-select */
/* line 271, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}

/* line 274, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

/* line 277, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-select .glyphicon {
  padding-right: 6px;
}

/* Form validation */
/* line 281, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.parsley-error {
  border-color: #ff5b5b !important;
}

/* line 284, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}

/* line 289, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.parsley-errors-list.filled {
  display: block;
}

/* line 292, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #ff5b5b;
}

/* Datepicker */
/* line 298, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker {
  padding: 8px;
}

/* line 301, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker th {
  font-size: 14px !important;
}

/* line 304, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker-dropdown:before {
  border-bottom: 7px solid #98a6ad;
}

/* line 307, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker-dropdown:after {
  border-bottom: 6px solid #98a6ad;
}

/* line 310, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker-days tbody {
  color: #435966;
}

/* line 313, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-image: none;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/* line 328, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #71b6f9;
}

/* line 350, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #71b6f9 !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

/* line 359, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
  background-color: transparent;
}

/* line 363, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker-inline {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

/* line 366, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker-inline .datepicker-days tbody {
  color: #98a6ad;
}

/* line 369, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker-inline td.old,
.datepicker-inline td.new {
  color: rgba(255, 255, 255, 0.2) !important;
}

/* Date range */
/* line 374, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker .available {
  color: #435966;
}

/* line 377, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker.opensleft:before {
  border-bottom: 7px solid #98a6ad;
}

/* line 380, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker.opensleft:after {
  border-bottom: 6px solid #98a6ad;
}

/* line 383, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker.opensright:after {
  border-bottom: 6px solid #98a6ad;
}

/* line 386, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #188ae2;
}

/* line 390, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker .input-mini {
  border: 1px solid #98a6ad !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* line 394, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker .calendar-table {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/* line 397, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker .ranges li {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  background-clip: padding-box;
  color: #435966;
  font-weight: 600;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

/* line 408, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
  padding: 2px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #435966;
  border: none;
}

/* line 418, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  background-color: transparent;
}

/* line 424, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background-color: #188ae2;
  border: none;
}

/* line 429, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: rgba(255, 255, 255, 0.5);
}

/* line 433, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.datepicker table tr td.old:hover,
.datepicker table tr td.new:hover {
  background-color: transparent !important;
}

/* line 437, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.search-input {
  margin-bottom: 10px;
}

/* line 440, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-selectable {
  box-shadow: none;
  outline: none !important;
}

/* line 444, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-list.ms-focus {
  box-shadow: none;
}

/* line 447, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selectable li.ms-hover {
  background-color: #188ae2;
}

/* line 450, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ms-container .ms-selection li.ms-hover {
  background-color: #188ae2;
}

/* Bootstrap time picker */
/* line 454, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-timepicker-widget table td a:hover {
  background-color: transparent;
  border-color: transparent;
  border-radius: 4px;
  color: #188ae2;
  text-decoration: none;
}

/* line 461, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-timepicker-widget table td input {
  border: none;
  color: #435966;
  font-weight: 600;
  background-color: transparent;
}

/* line 467, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #98a6ad;
}

/* line 470, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  border-top: 7px solid #98a6ad;
}

/* line 473, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  border-top: 6px solid #98a6ad;
  border-bottom: 6px solid transparent;
}

/* Bootstrap-touchSpin */
/* line 478, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-touchspin .input-group-btn-vertical .btn {
  padding: 9px 12px;
}

/* line 481, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bootstrap-touchspin .input-group-btn-vertical i {
  top: 4px;
  left: 8px;
}

/* Form wizard */
/* line 486, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.navtab-wizard li:first-of-type a {
  border-left: none !important;
}

/* line 489, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.navtab-wizard li:first-of-type a:hover,
.navtab-wizard li:first-of-type a:focus,
.navtab-wizard li:first-of-type a:active {
  border-left: none !important;
}

/* line 494, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.navtab-wizard li:last-of-type a {
  border-right: none !important;
}

/* line 497, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.navtab-wizard li:last-of-type a:hover,
.navtab-wizard li:last-of-type a:focus,
.navtab-wizard li:last-of-type a:active {
  border-right: none !important;
}

/* Dropify */
/* line 503, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.dropify-wrapper {
  background-color: transparent;
  border: 2px solid rgba(152, 166, 173, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
}

/* line 511, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.dropify-wrapper:hover {
  background-image: none;
}

/* line 514, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.dropify-wrapper .dropify-message p {
  color: #98a6ad;
}

/* line 517, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.dropify-wrapper .dropify-preview {
  background-color: transparent;
}

/* Wysiwig */
/* line 522, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-tinymce {
  background-color: transparent !important;
}

/* line 525, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-content-body p {
  color: #9398a0;
  font-size: 14px;
  font-weight: 300;
}

/* line 530, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-popover .mce-arrow:after {
  border-bottom-color: red;
}

/* line 533, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-popover .mce-colorbutton-grid {
  margin: 0px;
  border: 1px solid #d7dce5 !important;
  padding: 4px;
}

/* line 538, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-reset .mce-window-head {
  border-bottom: 1px solid #d7dce5;
}

/* line 541, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-reset .mce-window-head .mce-title {
  color: #707780;
  font-size: 16px;
  font-weight: 400;
}

/* line 546, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-reset .mce-textbox {
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  border-color: #d7dce5;
  height: 30px;
  font-weight: 300;
  line-height: 30px;
  color: #aaaaaa;
  font-size: 14px;
}

/* line 557, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-reset .mce-textbox:focus {
  box-shadow: none;
  border-color: #71b6f9;
}

/* line 561, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-reset .mce-checkbox .mce-ico {
  background-image: none;
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px solid #d7dce5;
}

/* line 567, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-reset .mce-checkbox .mce-label {
  color: #707780;
  font-size: 12px;
  font-weight: 400;
}

/* line 572, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container {
  border-radius: 0px !important;
  border-width: 0px !important;
}

/* line 576, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-menubar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: none !important;
  padding: 2px;
}

/* line 581, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-menubar .mce-btn button span {
  color: #707780;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

/* line 587, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-menubar .mce-btn button .mce-caret {
  border-top-color: #ffffff;
}

/* line 590, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-caret {
  border-top: 4px solid #ffffff !important;
}

/* line 593, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-menubar .mce-menubtn:hover,
.mce-menubar .mce-menubtn.mce-active,
.mce-menubar .mce-menubtn:focus {
  background-color: transparent !important;
}

/* line 598, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-menubar .mce-btn button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 601, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-menubar .mce-btn.mce-active button {
  background-color: #e8ebf1;
}

/* line 604, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  outline: 0;
  border: 0px;
  border-radius: 0px;
}

/* line 611, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn button {
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
  padding: 5px 10px;
}

/* line 618, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-primary {
  background-color: #71b6f9;
  background-image: none;
  outline: 0;
  border: 0px;
  border-radius: 0px;
}

/* line 625, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-primary button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
}

/* line 631, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-primary:hover {
  background-color: #0c7cd5;
  background-image: none;
}

/* line 635, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-toolbar-grp {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: none !important;
  border-top-width: 0px !important;
  padding: 6px;
}

/* line 641, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn-group .mce-btn:hover,
.mce-container .mce-btn-group .mce-btn:focus {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #435966;
}

/* line 646, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-stack-layout-item body {
  background-color: transparent !important;
}

/* line 649, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.mce-edit-area {
  background: transparent !important;
}

/* line 652, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-btn.mce-active button,
.mce-btn.mce-active:hover button {
  color: #435966 !important;
}

/* line 656, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-statusbar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: none !important;
}

/* line 660, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-statusbar .mce-path .mce-path-item {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

/* line 665, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-widget {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-left: 1px solid transparent;
}

/* line 671, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn-group {
  border: none;
}

/* line 674, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn-group .mce-btn {
  box-shadow: none;
  background-image: none;
  border-width: 0px;
  border-radius: 0px !important;
}

/* line 680, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn-group .mce-btn:hover,
.mce-container .mce-btn-group .mce-btn:focus {
  box-shadow: none;
  background-image: none;
  background-color: #ffffff;
}

/* line 686, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn-group .mce-btn button span {
  color: #707780;
  font-size: 14px;
  font-weight: 300;
}

/* line 691, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-btn-group .mce-btn button .mce-caret {
  color: #ffffff;
  font-size: 14px;
}

/* line 695, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-ico {
  color: #ffffff;
  font-size: 14px;
}

/* line 699, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container .mce-panel {
  background-image: none;
}

/* line 702, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu {
  border: 1px solid #d7dce5 !important;
}

/* line 705, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item {
  background-image: none;
}

/* line 708, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item .mce-ico {
  color: #71b6f9;
  font-size: 14px;
}

/* line 712, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item .mce-text {
  color: #707780 !important;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

/* line 718, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item .mce-menu-shortcut {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
}

/* line 724, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item.mce-selected {
  background-color: #71b6f9;
}

/* line 729, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-menu-shortcut {
  color: #aaaaaa;
}

/* line 734, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected {
  background-color: #d7dce5;
}

/* line 739, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-menu-shortcut {
  color: #ffffff;
}

/* line 750, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item-sep {
  background-color: #d7dce5;
}

/* line 753, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-container.mce-menu .mce-menu-item-sep:hover {
  background-color: #d7dce5;
}

/* line 756, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-menubtn button {
  color: #435966 !important;
}

/* line 759, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-menu-item-normal.mce-active {
  background-color: #71b6f9 !important;
}

/* line 762, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.mce-menu-item-normal.mce-active .mce-text {
  color: #ffffff !important;
}

/* =============
   Notification
============= */
/* line 768, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#toast-container > div {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 1;
}

/* line 772, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#toast-container > :hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 0.9;
}

/* line 776, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.toast {
  background-color: #71b6f9;
}

/* line 779, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.toast-success {
  background-color: rgba(16, 196, 105, 0.8);
  border: 2px solid #10c469;
}

/* line 783, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.toast-error {
  background-color: rgba(255, 91, 91, 0.8);
  border: 2px solid #ff5b5b;
}

/* line 787, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.toast-info {
  background-color: rgba(53, 184, 224, 0.8);
  border: 2px solid #35b8e0;
}

/* line 791, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.toast-warning {
  background-color: rgba(249, 200, 81, 0.8);
  border: 2px solid #f9c851;
}

/* =========== */
/* Sweet Alert */
/* =========== */
/* line 798, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.sweet-alert p {
  font-size: 14px;
  line-height: 22px;
}

/* line 802, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.sweet-alert .icon.success .placeholder {
  border: 4px solid rgba(16, 196, 105, 0.3);
}

/* line 805, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.sweet-alert .icon.success .line {
  background-color: #10c469;
}

/* line 808, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.sweet-alert .icon.warning {
  border-color: #f9c851;
}

/* line 811, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.sweet-alert .icon.info {
  border-color: #35b8e0;
}

/* line 814, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.sweet-alert .btn-warning:focus,
.sweet-alert .btn-info:focus,
.sweet-alert .btn-success:focus,
.sweet-alert .btn-danger:focus,
.sweet-alert .btn-default:focus {
  box-shadow: none;
}

/* line 821, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.sweet-alert h2 {
  color: #435966;
}

/* =============
   Charts
============= */
/* Morris chart */
/* line 828, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.morris-hover.morris-default-style {
  border-radius: 5px;
  padding: 10px 12px;
  background: #ebeff2;
  border: none;
  color: #435966 !important;
}

/* line 835, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.morris-hover.morris-default-style .morris-hover-point {
  color: #435966 !important;
}

/* Morris chart Title */
/* line 839, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.chart-detail-list li {
  margin: 0px 10px;
}

/* line 842, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.chart-detail-list li h5 {
  font-weight: 600;
}

/* line 845, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pieLabel div {
  font-size: 14px !important;
}

/* line 848, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 853, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 862, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 867, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 871, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-weight: 600;
  font-size: 18px;
  color: #435966;
}

/* line 879, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

/* Flot chart */
/* line 885, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#flotTip {
  padding: 8px 12px;
  background-color: #eeeeee;
  z-index: 100;
  color: #435966;
  opacity: 0.9;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 896, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.legend tr {
  height: 20px;
}

/* line 899, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.legend div:first-of-type {
  background-color: transparent !important;
}

/* line 902, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.legendLabel {
  padding-left: 5px !important;
  line-height: 10px;
  padding-right: 10px;
}

/* line 907, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.flot-tick-label {
  color: #98a6ad !important;
}

/* Sparkline chart */
/* line 911, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jqstooltip {
  background-color: #435966 !important;
  padding: 5px 10px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-color: #435966 !important;
}

/* line 919, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jqsfield {
  font-size: 12px !important;
  line-height: 18px !important;
}

/* Chartist chart */
/* line 924, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-golden-section:before {
  float: none;
}

/* line 927, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart {
  max-height: 300px;
}

/* line 930, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-label {
  fill: #a3afb7;
  color: #a3afb7;
  font-size: 12px;
  line-height: 1;
}

/* line 936, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-grid {
  stroke: rgba(255, 255, 255, 0.15);
}

/* line 939, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
}

/* line 944, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #5b69bc;
}

/* line 950, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #ff8acc;
}

/* line 956, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #f9c851;
}

/* line 962, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #35b8e0;
}

/* line 968, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #435966;
}

/* line 974, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #188ae2;
}

/* line 980, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #10c469;
}

/* line 986, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #188ae2;
}

/* line 990, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #ff8acc;
}

/* line 994, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #35b8e0;
}

/* line 998, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #71b6f9;
}

/* line 1002, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 10px;
  padding: 2px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  background: #eeeeee;
  color: #435966;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

/* line 1023, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.chartist-tooltip.tooltip-show {
  opacity: 1;
}

/* Circliful charts */
/* line 1027, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.circliful-chart {
  margin: 0px auto;
}

/* line 1030, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
  font-size: 12px;
  font-weight: 600;
}

/* =============
   Count Down
============= */
/* line 1040, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.home-wrapper {
  margin: 10% 0px;
}

/* line 1043, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.home-text {
  font-weight: 600;
}

/* line 1046, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#count-down {
  margin-top: 50px;
}

/* line 1049, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#count-down .clock-presenter {
  height: 140px;
  line-height: 30px;
  padding: 0px 30px;
  text-align: center;
}

/* line 1055, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#count-down .clock-presenter .digit {
  margin-top: 20px;
  font-size: 60px;
  line-height: 60px;
  height: 60px;
  color: #eeeeee;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: default;
}

/* line 1067, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#count-down .clock-presenter .note {
  position: relative;
  bottom: 0px;
  padding-top: 5px;
  cursor: default;
  font-size: 16px;
  color: #eeeeee;
}

@media (max-width: 992px) {
  /* line 1076, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #count-down .clock-presenter .digit {
    font-size: 42px;
  }
}
@media (max-width: 767px) {
  /* line 1081, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #count-down .clock-presenter {
    width: 50%;
    float: left;
  }

  /* line 1085, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #count-down .clock-presenter .digit {
    font-size: 36px;
  }

  /* line 1088, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #count-down .hours_dash {
    border-right: none;
  }
}
/* =============
   Timeline
============= */
/* line 1095, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 50px;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

/* line 1104, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline .time-show {
  margin-bottom: 30px;
  margin-right: -75px;
  margin-top: 30px;
  position: relative;
}

/* line 1110, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline .time-show a {
  color: #ffffff;
}

/* line 1113, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline:before {
  background-color: rgba(152, 166, 173, 0.3);
  bottom: 0px;
  content: "";
  left: 50%;
  position: absolute;
  top: 30px;
  width: 1px;
  z-index: 0;
}

/* line 1123, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline .timeline-icon {
  -webkit-border-radius: 50%;
  background: #98a6ad;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 20px;
  left: -54px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 20px;
}

/* line 1137, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline .timeline-icon i {
  color: #253138;
}

/* line 1140, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline .time-icon:before {
  font-size: 16px;
  margin-top: 5px;
}

/* line 1144, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
h3.timeline-title {
  color: #98a6ad;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 5px;
  text-transform: uppercase;
}

/* line 1151, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item {
  display: table-row;
}

/* line 1154, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item:before {
  content: "";
  display: block;
  width: 50%;
}

/* line 1159, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item .timeline-desk .arrow {
  border-bottom: 8px solid transparent;
  border-right: 8px solid #435966 !important;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -7px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 1171, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt:after {
  content: "";
  display: block;
  width: 50%;
}

/* line 1176, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt .timeline-desk .arrow-alt {
  border-bottom: 8px solid transparent;
  border-left: 8px solid #435966 !important;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: auto;
  margin-top: -10px;
  position: absolute;
  right: -7px;
  top: 50%;
  width: 0;
}

/* line 1189, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt .timeline-desk .album {
  float: right;
  margin-top: 20px;
}

/* line 1193, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt .timeline-desk .album a {
  float: right;
  margin-left: 5px;
}

/* line 1197, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt .timeline-icon {
  left: auto;
  right: -56px;
}

/* line 1201, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt:before {
  display: none;
}

/* line 1204, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt .panel {
  margin-left: 0;
  margin-right: 45px;
}

/* line 1208, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt .panel .panel-body p + p {
  margin-top: 10px !important;
}

/* line 1211, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt h4 {
  text-align: right;
}

/* line 1214, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt p {
  text-align: right;
}

/* line 1217, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-item.alt .timeline-date {
  text-align: right;
}

/* line 1220, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}

/* line 1225, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

/* line 1230, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk .panel {
  background: #435966;
  display: block;
  margin-bottom: 5px;
  margin-left: 45px;
  position: relative;
  text-align: left;
}

/* line 1238, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk h5 span {
  color: #797979;
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

/* line 1244, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk p {
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 0;
}

/* line 1249, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk .album {
  margin-top: 12px;
}

/* line 1252, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk .album a {
  float: left;
  margin-right: 5px;
}

/* line 1256, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk .album img {
  height: 36px;
  width: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}

/* line 1264, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.timeline-desk .notification {
  background: none repeat scroll 0 0 #ffffff;
  margin-top: 20px;
  padding: 8px;
}

/* =============
   Gallery
============= */
/* line 1272, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.portfolioFilter a {
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #cccccc;
  font-weight: 600;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 5px;
}

/* line 1283, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.portfolioFilter a:hover {
  color: #71b6f9;
}

/* line 1286, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.portfolioFilter a.current {
  color: #71b6f9;
}

/* line 1289, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.thumb {
  background-color: #2f3e47;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}

/* line 1300, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}

/* line 1305, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gal-detail h4 {
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
  padding: 0px 5px;
}

/* line 1311, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gal-detail p {
  padding: 0px 5px;
  font-size: 13px;
}

/* =============
   Maintenance
============= */
/* line 1318, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.icon-main {
  font-size: 88px;
  margin-bottom: 50px;
}

/* line 1322, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.maintenance-page {
  margin: 10% 0%;
}

/* =============
   Maps
============= */
/* line 1328, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px;
}

/* line 1334, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #71b6f9;
  border-radius: 4px;
  padding: 10px 20px;
}

/* line 1344, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

/* line 1351, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #71b6f9;
}

/* line 1357, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #71b6f9;
}

/* line 1363, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jvectormap-zoomin,
.jvectormap-zoomout {
  width: 10px;
  height: 10px;
  line-height: 10px;
}

/* line 1369, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jvectormap-zoomout {
  top: 40px;
}

/* =============
   Tree view page
============= */
/* line 1375, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jstree-default .jstree-clicked {
  background: rgba(113, 182, 249, 0.4);
  box-shadow: none;
}

/* line 1379, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jstree-default .jstree-hovered {
  background: rgba(113, 182, 249, 0.2);
  box-shadow: none;
}

/* line 1383, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jstree-default .jstree-wholerow-clicked {
  background: rgba(113, 182, 249, 0.4);
}

/* line 1386, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jstree-default .jstree-wholerow-hovered {
  background: rgba(113, 182, 249, 0.2);
}

/* line 1389, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.jstree-default .zmdi {
  font-size: 16px;
}

/* =============
   Tour page
============= */
/* line 1395, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble {
  border: 3px solid #188ae2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
}

/* line 1402, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-next {
  background-color: #188ae2 !important;
  background-image: none !important;
  border-color: #188ae2 !important;
  text-shadow: none !important;
  margin: 0 0 0 5px !important;
}

/* line 1409, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-prev {
  background-color: #188ae2 !important;
  background-image: none !important;
  border-color: #188ae2 !important;
  text-shadow: none !important;
  color: #ffffff !important;
}

/* line 1416, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-number {
  background: #71b6f9;
  padding: 0px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  background-clip: padding-box;
}

/* line 1424, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow-border {
  border-right: 19px solid #188ae2;
}

/* line 1427, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow {
  border-left: 19px solid #188ae2;
  left: -2px;
}

/* line 1431, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left .hopscotch-bubble-arrow {
  border: none;
}

/* line 1434, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right .hopscotch-bubble-arrow-border {
  border-left: 0px solid #188ae2;
}

/* line 1437, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow {
  border-bottom: 19px solid #188ae2;
  top: 0px;
}

/* line 1441, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
  border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

/* line 1444, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow {
  border-top: 19px solid #188ae2;
  top: -2px;
}

/* line 1448, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
  border-top: 0px solid rgba(0, 0, 0, 0.5);
}

/* =============
   Pricing
============= */
/* line 1454, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column {
  position: relative;
  margin-bottom: 40px;
}

/* line 1458, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column .inner-box {
  position: relative;
  padding: 0px 0px 50px;
}

/* line 1462, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column .plan-header {
  position: relative;
  padding: 30px 20px 25px;
}

/* line 1466, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column .plan-title {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  margin-bottom: 10px;
  color: #188ae2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

/* line 1475, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column .plan-price {
  font-size: 48px;
  font-family: 'Karla', sans-serif;
  margin-bottom: 10px;
  color: #cccccc;
}

/* line 1481, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column .plan-duration {
  font-size: 13px;
  color: #98a6ad;
}

/* line 1485, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column .plan-stats {
  position: relative;
  padding: 30px 20px 15px;
}

/* line 1489, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.pricing-column .plan-stats li {
  margin-bottom: 15px;
  line-height: 24px;
}

/* line 1493, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ribbon {
  position: absolute;
  left: 5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

/* line 1503, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  background: #79A70A;
  background: linear-gradient(#3bafda 0%, #3bafda 100%);
  position: absolute;
  top: 19px;
  left: -21px;
}

/* line 1521, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ribbon span:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #3bafda;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3bafda;
}

/* line 1532, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ribbon span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #3bafda;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #3bafda;
}

/* =============
   Taskboard & Detail
============= */
/* line 1546, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.taskboard-box ul.task-list {
  min-height: 50px;
}

/* line 1549, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box {
  border: 2px solid rgba(255, 255, 255, 0.07);
}

/* line 1552, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box .checkbox-wrapper {
  float: left;
}

/* line 1555, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box .checkbox-wrapper .checkbox {
  margin-top: 3px;
}

/* line 1558, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box .kanban-detail {
  margin-left: 35px;
}

/* line 1561, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box .kanban-detail h4 {
  margin-top: 0px;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

/* line 1567, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box .kanban-detail h4 a {
  color: #eeeeee;
}

/* line 1570, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box .kanban-detail ul li a {
  display: inline-block;
}

/* line 1573, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.kanban-box .kanban-detail ul li a i {
  font-size: 16px;
  color: #98a6ad;
  padding: 0px 5px;
  line-height: 32px;
}

/* line 1579, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gu-mirror {
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(67, 89, 102, 0.1) !important;
  margin-bottom: 0px !important;
  opacity: 1;
}

/* line 1585, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.gu-mirror .card-box {
  margin-bottom: 0px !important;
}

/* Task Detail */
/* line 1589, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.task-detail .task-dates li {
  width: 50%;
  float: left;
}

/* line 1593, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.task-detail .task-tags .bootstrap-tagsinput {
  padding: 0px;
  border: none;
}

/* line 1597, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.task-detail .assign-team a {
  display: inline-block;
  margin: 5px 5px 5px 0px;
}

/* line 1601, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.task-detail .files-list .file-box {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  padding: 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}

/* line 1611, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.task-detail .files-list .file-box img {
  line-height: 70px;
}

/* line 1614, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.task-detail .files-list .file-box p {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* =============
   Projects
============= */
/* line 1624, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-sort-item .form-group {
  margin-right: 30px;
  display: inline-block;
}

/* line 1628, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-sort-item .form-group:last-of-type {
  margin-right: 0px;
}

/* line 1631, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-box {
  position: relative;
}

/* line 1634, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-box .label {
  position: absolute;
  right: 20px;
}

/* line 1638, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-box h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  font-weight: 600;
}

/* line 1646, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-box ul li {
  padding-right: 30px;
}

/* line 1649, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-box .project-members a {
  margin: 3px;
  display: inline-block;
}

/* line 1653, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.project-box .project-members a:first-of-type {
  margin-left: 0px;
}

/* =============
   Accounts pages
============= */
/* line 1659, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.account-pages {
  background: url("/assets/big/bg-7707011a0ca81dd95f3d182a474f1c066c5befd9a2f054845a4a51cccaf279ae.jpg") center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* line 1666, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.wrapper-page {
  margin: 5% auto;
  position: relative;
  width: 420px;
}

/* line 1671, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.wrapper-page .card-box {
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

/* line 1674, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.wrapper-page .logo {
  font-size: 42px;
}

/* line 1677, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.panel-pages {
  border-radius: 6px;
}

/* line 1680, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.panel-pages .panel-body {
  padding: 30px;
}

/* line 1683, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.panel-pages .panel-heading {
  -moz-border-radius: 6px 6px 0px 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
  padding: 40px 20px;
  position: relative;
}

/* line 1690, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.panel-pages .panel-heading h3 {
  position: relative;
  z-index: 999;
}

/* line 1694, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.user-thumb {
  position: relative;
  z-index: 999;
}

/* line 1698, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.user-thumb img {
  height: 88px;
  margin: 0px auto;
  width: 88px;
}

/* line 1703, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ex-page-content .text-error {
  color: #71b6f9;
  text-shadow: rgba(113, 182, 249, 0.3) 5px 1px, rgba(113, 182, 249, 0.2) 12px 3px, rgba(113, 182, 249, 0.3) 6px 4px;
  font-size: 98px;
  font-weight: 700;
  line-height: 150px;
}

/* line 1710, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.ex-page-content .text-error i {
  font-size: 78px;
  padding: 0px 10px;
}

/* INBOX */
/* line 1715, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.inbox-app-main {
  margin-left: -20px;
}

/* line 1718, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.circle-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 2px solid #98a6ad;
  border-radius: 100px;
  font-size: 14px;
  color: #98a6ad;
  cursor: pointer;
  display: block;
  float: left;
}

/* line 1731, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.circle-icon:hover {
  color: #6e818a;
  border-color: #6e818a;
}

/* line 1735, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.circle-icon.small {
  height: 25px;
  width: 25px;
  line-height: 23px;
  font-size: 11px;
}

/* line 1741, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.circle-icon.red {
  color: #ff5b5b;
  border-color: #ff5b5b;
}

/* line 1745, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.circle-icon.red:hover {
  color: #c10000;
  border-color: #c10000;
}

/* line 1749, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 0 1px #98a6ad;
  border-radius: 1px;
}

/* line 1758, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}

/* line 1762, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.checkbox-wrapper-mail input:checked ~ label {
  opacity: 1;
}

/* line 1765, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.checkbox-wrapper-mail label {
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  cursor: pointer;
  background: #98a6ad;
  opacity: 0;
  margin-bottom: 0px !important;
  transition-duration: .05s;
}

/* line 1777, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.checkbox-wrapper-mail label:active {
  background: #87949b;
}

/* line 1780, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  transition-duration: .3s;
  z-index: 5;
  color: #435966;
}

/* line 1788, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar a {
  color: rgba(152, 166, 173, 0.8);
}

/* line 1791, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment {
  padding: 0 50px;
}

/* line 1794, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment ul,
#sidebar .menu-segment li {
  margin: 0;
  padding: 0;
}

/* line 1799, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment .ball.pink {
  border-color: #ff8acc;
}

/* line 1802, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment .ball.green {
  border-color: #10c469;
}

/* line 1805, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment .ball.blue {
  border-color: #188ae2;
}

/* line 1808, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment li.title {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.5);
}

/* line 1814, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment li.title .icon {
  float: right;
}

/* line 1817, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment li.active a,
#sidebar .menu-segment li.active a:hover {
  color: #ff5b5b;
  font-weight: 600;
}

/* line 1822, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment li a {
  display: block;
  margin: 0 -50px;
  padding: 10px 50px;
}

/* line 1827, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment li a:hover {
  background: rgba(152, 166, 173, 0.3);
}

/* line 1830, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment li .italic-link {
  font-style: italic;
  font-weight: 600;
}

/* line 1834, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment .labels li a span,
#sidebar .menu-segment .chat li a span {
  display: block;
  border: 5px solid #ff5b5b;
  border-radius: 100px;
  margin-top: 6px;
}

/* line 1841, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment .labels.labels li a span,
#sidebar .menu-segment .chat.labels li a span {
  float: right;
}

/* line 1845, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment .labels.chat li a span,
#sidebar .menu-segment .chat.chat li a span {
  float: left;
  margin-right: 10px;
}

/* line 1850, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .menu-segment .chat li a {
  padding-left: 50px;
}

/* line 1853, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .separator {
  margin: 30px 35px;
  height: 1px;
  background: rgba(152, 166, 173, 0.5);
}

/* line 1858, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar .bottom-padding {
  height: 100px;
}

/* line 1861, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar > .nano-pane {
  background: transparent;
  width: 5px;
}

/* line 1865, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#sidebar > .nano-pane .nano-slider {
  background: rgba(152, 166, 173, 0.3);
}

/* line 1868, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main {
  position: fixed;
  top: 72px;
  left: 490px;
  bottom: 0;
  right: 0;
  z-index: 4;
  transition-duration: .3s;
  background-color: #2f3e47;
}

/* line 1878, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .overlay {
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 100%;
  background: rgba(67, 89, 102, 0.6);
  z-index: 5;
  opacity: 0;
  transition-duration: 0s;
  transition-property: opacity;
}

/* line 1890, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header {
  padding: 20px 25px;
  border-bottom: 1px solid rgba(152, 166, 173, 0.3);
  overflow: hidden;
}

/* line 1895, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .page-title {
  display: block;
  float: left;
}

/* line 1899, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .page-title .sidebar-toggle-btn {
  width: 0;
  margin-top: 1px;
  padding: 11px 0 0 0;
  float: left;
  position: relative;
  display: block;
  cursor: pointer;
  transition-duration: .3s;
  transition-delay: .5s;
  opacity: 0;
  margin-right: 0;
}

/* line 1912, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .page-title .sidebar-toggle-btn .line {
  height: 3px;
  display: block;
  background: #98a6ad;
  margin-bottom: 4px;
  transition-duration: .5s;
  transition-delay: .5s;
}

/* line 1920, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .page-title .sidebar-toggle-btn .line-angle1 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 15px;
  left: -11px;
  transform: rotate(-60deg);
}

/* line 1928, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .page-title .sidebar-toggle-btn .line-angle2 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 21px;
  left: -11px;
  transform: rotate(60deg);
}

/* line 1936, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .page-title .icon {
  font-size: 15px;
  margin-left: 20px;
  position: relative;
  top: -5px;
  cursor: pointer;
}

/* line 1943, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .search-box {
  width: 180px;
  height: 40px;
  margin-left: 30px;
  position: relative;
}

/* line 1949, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .search-box input {
  position: absolute;
  top: 0;
  transition-duration: .3s;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-right: 30px;
  margin: 0;
  text-indent: 15px;
  height: 40px;
  z-index: 2;
  outline: none;
  color: #ffffff;
  background: transparent;
  border: 2px solid rgba(238, 238, 238, 0.5);
  border-radius: 5px;
  transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}

/* line 1968, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .search-box input:focus {
  border: 2px solid rgba(238, 238, 238, 0.7);
}

/* line 1971, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .search-box input:focus ~ .icon {
  opacity: 1;
  z-index: 3;
  color: #10c469;
}

/* line 1976, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .header .search-box .icon {
  transition-duration: .3s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
  line-height: 40px;
  z-index: 1;
  cursor: pointer;
  opacity: .5;
}

/* line 1989, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .action-bar {
  padding: 5px;
  overflow: hidden;
}

/* line 1993, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list {
  display: block;
  padding-left: 0px;
}

/* line 1997, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  transition-duration: .3s;
  color: rgba(152, 166, 173, 0.6);
}

/* line 2006, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li:hover {
  background: rgba(152, 166, 173, 0.15);
  transition-duration: .05s;
}

/* line 2010, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col {
  float: left;
  position: relative;
}

/* line 2014, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-1 {
  width: 400px;
}

/* line 2017, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-1 .star-toggle,
#main .message-list li .col-1 .checkbox-wrapper-mail,
#main .message-list li .col-1 .dot {
  display: block;
  float: left;
}

/* line 2023, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

/* line 2032, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-1 .checkbox-wrapper-mail {
  margin-top: 15px;
  margin-right: 10px;
}

/* line 2036, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-1 .star-toggle {
  margin-top: 18px;
  font-size: 16px;
  margin-left: 5px;
}

/* line 2041, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-1 .title {
  position: absolute;
  top: 15px;
  left: 140px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 2050, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-2 {
  position: absolute;
  top: 0;
  left: 400px;
  right: 0;
  bottom: 0;
}

/* line 2057, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-2 .subject,
#main .message-list li .col-2 .date {
  position: absolute;
  top: 0;
}

/* line 2062, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 2069, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li .col-2 .date {
  right: 0;
  width: 200px;
  padding-left: 80px;
}

/* line 2074, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li.active,
#main .message-list li.selected {
  background: rgba(152, 166, 173, 0.15);
  transition-duration: .05s;
}

/* line 2079, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li.active,
#main .message-list li.active:hover {
  box-shadow: inset 3px 0 0 #71b6f9;
}

/* line 2083, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li.unread {
  font-weight: 600;
  color: rgba(152, 166, 173, 0.95);
}

/* line 2087, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li.blue-dot .col-1 .dot {
  border-color: #188ae2;
}

/* line 2090, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li.orange-dot .col-1 .dot {
  border-color: #f9c851;
}

/* line 2093, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .message-list li.green-dot .col-1 .dot {
  border-color: #10c469;
}

/* line 2096, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main .load-more-link {
  display: block;
  text-align: center;
  margin: 30px 0 50px 0;
}

/* line 2101, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.show-main-overlay #main .overlay {
  opacity: 1;
  bottom: 0;
  transition-duration: .5s;
}

/* line 2106, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.show-sidebar #main .header .page-title .sidebar-toggle-btn {
  transition-delay: 0s;
}

/* line 2109, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.show-sidebar #main .header .page-title .sidebar-toggle-btn .line-angle1 {
  transform: rotate(-120deg);
}

/* line 2112, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.show-sidebar #main .header .page-title .sidebar-toggle-btn .line-angle2 {
  transform: rotate(120deg);
}

/* line 2115, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#main #main-nano-wrapper {
  position: absolute;
  top: 100px;
  bottom: 0;
  height: auto;
}

/* line 2121, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message {
  position: fixed;
  top: 72px;
  left: 60%;
  bottom: 0;
  width: 40%;
  z-index: 5;
  transform: translateX(200%);
  transition-duration: .5s;
  padding: 20px 30px;
  background-color: #354650;
  box-shadow: 0 0px 77px 0 rgba(0, 0, 0, 0.08), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

/* line 2134, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .header {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(152, 166, 173, 0.2);
}

/* line 2138, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .header .page-title {
  display: block;
  float: none;
  margin-bottom: 15px;
  line-height: 40px;
}

/* line 2144, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .header .page-title .icon {
  margin-top: 4px;
  margin-right: 10px;
}

/* line 2148, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .header .grey {
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.8);
}

/* line 2152, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container {
  padding: 0 30px;
}

/* line 2155, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li {
  padding: 25px;
  border: 1px solid rgba(152, 166, 173, 0.3);
  margin: 0 0 30px 0;
  position: relative;
}

/* line 2161, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .details {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}

/* line 2167, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .details .left {
  float: left;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  transition-duration: .3s;
}

/* line 2173, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .details .left .arrow {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 20px;
  background: rgba(255, 255, 255, 0.15);
  vertical-align: top;
  margin: 12px 20px 0 15px;
  border: 0px solid rgba(255, 255, 255, 0.15);
  transition-duration: .3s;
}

/* line 2184, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .details .left .arrow:after {
  position: absolute;
  top: -4px;
  left: 100%;
  height: 0;
  width: 0;
  border: inherit;
  border-width: 7px;
  border-style: solid;
  content: '';
  border-right: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
}

/* line 2200, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .details .right {
  float: right;
  color: #999;
}

/* line 2204, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .message {
  margin-bottom: 40px;
}

/* line 2207, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .message p:last-child {
  margin-bottom: 0;
}

/* line 2210, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li:hover .tool-box .red-hover {
  color: #ff5b5b;
  border-color: #ff5b5b;
}

/* line 2214, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li:hover .tool-box .red-hover:hover {
  color: #f40000;
  border-color: #f40000;
}

/* line 2218, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .tool-box {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 10px;
  transition-duration: .3s;
}

/* line 2225, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .tool-box a {
  margin-right: 10px;
}

/* line 2228, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li .tool-box a:last-child {
  margin-right: 0;
}

/* line 2231, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li:hover .details .left .arrow {
  background: #10c469;
  border: 0px solid #10c469;
}

/* line 2235, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message .message-container li:hover .details .left .arrow.orange {
  background: #f9c851;
  border: 0px solid #f9c851;
}

/* line 2239, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.show-message #message {
  transition-duration: .3s;
}

/* line 2242, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
#message #message-nano-wrapper {
  position: absolute;
  top: 130px;
  bottom: 0;
  height: auto;
  left: 0;
  right: 0;
  width: auto;
}

/* line 2251, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.show-message #message {
  transform: none;
}

/* line 2254, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.show-message #main {
  margin-right: 40%;
}

@media only screen and (min-width: 1499px) {
  /* line 2258, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .overlay {
    display: none;
  }
}
@media only screen and (max-width: 1500px) {
  /* line 2263, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-message #main {
    margin-right: 0;
  }

  /* line 2266, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-message #message {
    left: 50%;
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 2272, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-sidebar #sidebar {
    transform: none;
  }

  /* line 2275, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-sidebar #main {
    transform: translateX(250px);
  }

  /* line 2278, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-message #main {
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 2283, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #sidebar {
    transform: translateX(-100%);
  }

  /* line 2286, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main {
    left: 0;
    top: 75px;
    box-shadow: none;
  }

  /* line 2291, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .header .page-title .sidebar-toggle-btn {
    margin-right: 20px;
    opacity: 1;
    width: 20px;
    margin-left: 10px;
  }

  /* line 2297, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .header .page-title .sidebar-toggle-btn .line {
    height: 2px;
  }

  /* line 2300, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-sidebar #sidebar {
    transform: none;
  }

  /* line 2303, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-sidebar #main {
    transform: translateX(250px);
  }

  /* line 2306, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-message #main {
    margin-right: 0;
  }

  /* line 2309, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .show-message #message {
    left: 20%;
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 2315, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .header .search-box {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0px;
  }

  /* line 2322, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  .action-bar ul {
    margin-bottom: 0px;
    text-align: center;
  }

  /* line 2326, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .header .search-box input,
  #main .header .search-box input:focus {
    width: 100%;
  }

  /* line 2330, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main #main-nano-wrapper {
    position: absolute;
    top: 150px;
    bottom: 0;
    height: auto;
  }

  /* line 2336, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .message-list li .col-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 120px;
    width: auto;
  }

  /* line 2344, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .message-list li .col-2 {
    right: 0;
    left: auto;
    width: 120px;
  }

  /* line 2349, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .message-list li .col-2 .date {
    padding-left: 0;
    position: static;
  }

  /* line 2353, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
  #main .message-list li .col-2 .subject {
    display: none;
  }
}
/**
 * Nano scroll stuff
*/
/* line 2360, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 2366, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 2375, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano > .nano-content:focus {
  outline: none;
}

/* line 2378, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}

/* line 2381, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}

/* line 2384, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano > .nano-pane {
  background: rgba(152, 166, 173, 0.1);
  position: absolute;
  width: 7px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  visibility: hidden \9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

/* line 2402, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano > .nano-pane > .nano-slider {
  background: rgba(152, 166, 173, 0.35);
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}

/* line 2417, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano > .nano-pane:hover > .nano-slider,
.nano > .nano-pane.active > .nano-slider {
  background: #A6A6A6;
}

/* line 2421, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible \9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}

/* Profile */
/* line 2429, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.bg-picture {
  padding: 30px;
}

/* line 2432, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.profile-info-name img {
  width: 200px;
  float: left;
  margin-right: 30px;
}

/* line 2437, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.profile-info-detail {
  overflow: hidden;
}

/* line 2440, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.profile-pills li a {
  color: rgba(255, 255, 255, 0.5) !important;
  padding: 0px 10px;
  line-height: 30px !important;
  border: 2px solid transparent;
}

/* line 2446, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.profile-pills li a i {
  font-size: 14px;
}

/* line 2449, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment {
  padding-top: 12px;
}

/* line 2452, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-avatar {
  position: relative;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  display: block;
  float: left;
  height: 32px;
  width: 32px;
}

/* line 2465, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-body {
  float: none;
  margin-left: 40px;
  position: relative;
}

/* line 2470, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-text {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  padding: 7px 12px 8px;
}

/* line 2475, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-header {
  font-size: 12px;
  padding-bottom: 2px;
}

/* line 2479, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-header a {
  color: #ffffff;
  font-weight: bold;
}

/* line 2483, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-header span {
  color: #98a6ad;
  display: inline-block;
  font-size: 11px;
  margin-left: 5px;
}

/* line 2489, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-footer {
  display: block;
  font-size: 12px;
  padding: 4px 12px 0;
}

/* line 2494, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-footer i {
  font-size: 13px;
  margin-right: 7px;
}

/* line 2498, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-footer,
.comment .comment-footer a {
  color: rgba(255, 255, 255, 0.5);
}

/* line 2502, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment .comment-footer:hover,
.comment .comment-footer a:hover {
  color: #71b6f9;
}

/* line 2506, /home/karim/Projects/Newvideo/app/assets/stylesheets/admin/pages.css.scss */
.comment > .comment {
  margin-left: 32px !important;
}
